p {
  padding-left: 1.5em;
  font-size: 2rem;
}
.home {
  background: url(../svg/sprite.svg#home) center left no-repeat;
  background-size: 2rem 2rem;
}
.images {
  background: url(../svg/sprite.svg#images) center left no-repeat;
  background-size: 2rem 2rem;
}
.podcast {
  background: url(../svg/sprite.svg#podcast) center left no-repeat;
  background-size: 2rem 2rem;
}
.file-video {
  background: url(../svg/sprite.svg#file-video) center left no-repeat;
  background-size: 2rem 2rem;
}
.qrcode {
  background: url(../svg/sprite.svg#qrcode) center left no-repeat;
  background-size: 2rem 2rem;
}